/*

Структура сайта: каждый раздел будет обособлен и выделен на странице, как отедльный блок
Их размеры будут адаптивными*/

/* === Variables  === */
:root {
	/* element color*/
	--main-bg-color: #F5F5F5;
	--container-bg-color: #ffffff;
	--primary-color: #0099E5;

	/* text color */
	--text-regular:#000;
	--text-primary: #0099E5;
	--text-secondary: #6f6f6f;

	/* Break-point (screen resolution)*/
	--xxl:1366px;
	--xl:1200px;
	--lg:968px;
	--md:768x;
	--sm:480px;
	--xxs:360;
	
	/* Fonts size */
	--f-xsm: 12px;
	--f-sm: 16px;
	--f-md: 24px;
	--f-lg: 32px;
  }
/* === Variables (end) === */

/* === Fonts style=== */
.text-regular{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 24px;
	color: var(--text-regular);
}

.text-primory{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 24px;
	color: var(--text-primary);
}

.text-secondary{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--text-secondary);
}

/* === Fonts size=== */
.f-xsm{
	font-size: 12px;
}
.f-sm{
	font-size: 16px;
}
.f-md{
	font-size: 24px;
}
.f-lg{
	font-size: 36px;
}

/* === Fonts weight=== */
.f-400{
	font-weight: 400;
}
.f-500{
	font-weight: 500;
}
.f-700{
	font-weight: 700;
}

/* === General elements=== */
body{
	font-family: 'Montserrat', sans-serif; 
	font-size: 16px;
	background-color: var(--main-bg-color);
	padding: 0 10px;
}

.container{ /* контейнер для всего сайта. */
	width: 100%; 
	max-width: var(--xxl); 
	margin: 0 auto; 
	background-color: var(--container-bg-color);
	margin-bottom: 15px;
	padding: 10px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
	.container:last-child{ 
		margin-bottom: 0px;
	}

.primary-button {    
	height: max-content;
	width: max-content;
	padding: 5px 10px;
	background-color: transparent;
	border: none;
	color: black;
	border: 2px solid  var(--primary-color);
	transition: all .3s linear;
	margin: 5px;
}
	.primary-button:hover {
		background-color: var(--primary-color);
		color: white;
		transition: all .3s linear;
	}

ul{
	padding: 0;
}

li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.section-info{
	padding: 2vh 3vw;
}
	.section-info__description{
		display: flex;
		justify-content: flex-end;
		text-align: end;
	}	
.section-content{
	padding: 0 10px;
}

hr {

    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #eee, #aaa, #eee);
    background-image:    -moz-linear-gradient(left, #eee, #aaa, #eee);
    background-image:     -ms-linear-gradient(left, #eee, #aaa, #eee);
    background-image:      -o-linear-gradient(left, #eee, #aaa, #eee);
}

a{
	text-decoration: none;
	color: var(--text-regular);
}
span{
	text-indent: 1.5em; 
}

h2{
	text-indent: 1.5em; 
	margin-top: 0;
	margin-bottom: 10px;
}
.hack4validator{
	font-size: 0px;
}
.hack-anchor{ /* хак, благодаря которому, при нажатии на пункт меню - пролистывается к началу выбранной секции, а не к её середине (из-за перекрывающего её же меню)*/
	margin-bottom: 40px;
}

#aboutMe-anchor{ /* то же хак, но только для одной секции (первой), потому что иначе никак не привязать к ней anchor так, что бы при клике по ссылке попадали в начало этой секции*/
	position: absolute;
	top: 0;
	left: 0;
}
/* === General elements (end) === */


/* === Header  === */
  header{
	padding-top: 0;
	padding-bottom: 0;
	width: 100%; 
	max-width: var(--xxl); 
	margin: 0 auto; 
	margin-top: 0;
}

/* menu работает следующим образом: появляется только на маленьких экранах, всплывает по нажатию на кнопку, а скрыть можно либо нажав на пункт меню, либо нажав мимо всего меню (в область видимого контента)*/
.menu{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 50px;
	padding-top:0;
	padding-bottom:0;
	position: fixed;
	z-index: 5000;
	margin-top: -65px;
}
.menu-wrapper{
	display: flex;
	justify-content: space-between;
	position: relative;
}

.menu-regular{
	margin: auto 0;
	text-transform: uppercase;
	margin-right: 3vw;	
}
	.menu-regular__item{
		border: none;
		color: var(--text-regular);
		transition: all .2s linear;
		font-weight: 500;
		margin: 5px;
		padding: 3px;
		padding-top:10px;
		padding-bottom:10px;
	}

		.menu-regular__item:hover{
			transition: all .2s linear;
			color: var(--text-primary);
		}

@media (max-width: 560px) {
    .menu-regular{
		display: none;
	} 
}

/* Сама кнопка меню */
.burger-menu__button{
	border-radius: 0;
    width: 50px;
    height: 50px;
	position: relative;
	padding-right: 3vh;
}

@media (min-width: 561px) {
	.burger-menu__button{
		display: none;
	}

  
}

/* создаю сам бургер тремя спанами */
.burger-menu__lines, 
.burger-menu__lines::before,
.burger-menu__lines::after{ 
    position: absolute;
    width: 30px;
    height: 3px;
	background-color: var(--primary-color);
	text-indent: 0em; 
}

/* раскидываю спаны */
.burger-menu__lines{
    top: 50%;
    left: 25%;
}

.burger-menu__lines::before{
    content:"";
    top: 8px;
} 
.burger-menu__lines::after{
    content:"";
    top: -8px;
}


/* burger-menu_active только сама кнопка*/ 
.burger-menu_active .burger-menu__lines{
    background-color: transparent;
}
.burger-menu_active .burger-menu__lines::before{
    top: -5px;
    transform: rotate(45deg);
    transition: .1s linear;
}
.burger-menu_active .burger-menu__lines::after{
    top: -5px;
    transform: rotate(-45deg);
    transition: .1s linear;
}

/* вся плашка с меню вместе с ссылками */
.burger-menu__nav{
	width: 250px;
    padding-top: 3vh; 
    position: fixed;
	z-index: 200;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--main-bg-color);
    overflow-y: auto; /* прокручиваемое, если много пунктов в меню */
    right: -250px;/* прячю меню, пока оно не нужно */
	transition: .4s linear;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.burger-menu__nav_active{
    width: 50%;
	min-width: 250px; 
    padding-top: 3vh; 
    position: fixed;
	z-index: 200;
    display: flex;
	flex-direction: column;
    max-height: 100%;
    background-color: var(--container-bg-color);
    overflow-y: scroll; /* прокручиваемое, если много пунктов в меню */
    right: 0px;/* прячю меню, пока оно не нужно */
    transition: .3s linear;
}

/* links */
.burger-menu__link{
    text-transform: uppercase;
    color: var(--text-regular);
    padding: 20px 10px;
	font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: 5px;
	font-weight: 500;
	text-align: center;
	border-top: 1px rgba(77, 77, 77, 0.2) solid;
}
	.burger-menu__link:last-child{
		border-bottom: 1px rgba(77, 77, 77, 0.2) solid;
	}

.burger-menu__link:hover{
	background-color: var(--main-bg-color);
	transition: all .2s linear;
}

/* плашка - подкладка, при нажатии на которую можно так же сделать закрытие меню */
.burger-menu__overlay{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu__overlay_active{ /*модификатор*/
	display: block;
}
/* === Header (end) === */


/* === AboutMe === */
.aboutMe {
	display: flex;
	flex-direction: column;
	margin-top: 65px; /* Отступ от фиксированного меню */
}
	.section-content{
		display: flex;
		padding: 10px;
	}
	@media (max-width: 800px) {
		.section-content{
			flex-direction: column;
		}
	}	
		.aboutMe__photoContainer{
			background: url(../assets/img/photo.webp) 0% 15%   no-repeat; 
			background-size: cover;
			position: relative;
			margin: 10px;
			width: 750px;
			height: 490px;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
		}
		@media (max-width: 800px) {
			.aboutMe__photoContainer{
				background: url(../assets/img/photo.webp) 15% 35%   no-repeat; 
				background-size: cover;
				position: relative;
				margin: 0 auto;
				margin-bottom: 5vh;
				width: 95%;
				max-height: 90%;
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
			}
		}	
			.aboutMe__borderPhoto{
				width: 95%;
				height: 95%;
				position: absolute;
				top: 7px;
				left: 1%;
				border: 5px solid var(--primary-color);
			}
			.aboutMe__photo {
				max-width: 410px;
				max-height: 490px;
			}
		.aboutMe__information {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-content: flex-start;
			margin-left: 15px;
		}
			.aboutMe__heading {
				margin-bottom: 1em;
			}
			
			.aboutMe__moreInformation {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: 100%;
			}
				.moreInformation__item {
					display: flex;
					align-content: flex-start;
					align-items: flex-start;
					width: 45%;
					margin: 5px;
				}
				@media (max-width: 1060px) {
					.moreInformation__item {
						width: 95%;
						flex-wrap: wrap;
					}
				}

					.moreInformation__icon {
						margin-right: 5px;
					}
					.moreInformation__lable{
						margin-right: 5px;
						text-indent: 0;
					}
					.moreInformation__content{
						text-indent: 0;
					}
			.aboutMe__buttons-section{
				text-align: center;
				display: flex;
				justify-content: center;
			}		
			.hidden{
				display: none;
			}
			
/* === AboutMe (end) === */


/* === Experience === */
.experience__wrapper{
	display: flex;
	flex-direction: column;
}
	.experience__item {
		display: flex;
	}
	@media (max-width: 800px) {
		.experience__wrapper{
			margin-left: 5vw;
		}
		.experience__item {
			flex-direction: column;
		}
	}
		.experience__left-side {
			display: flex;
			flex-direction: column;
			align-content: flex-end;
			align-items: flex-end;
			margin-right: 20px;
			min-width: 150px;
		}
			.experience__date {
				margin-bottom: 10px;
			}
			.experience__location {
				max-width: 150px;
				text-align: end;
				margin-bottom: 2vw;
			}
		@media (max-width: 800px) {
			.experience__left-side {
				align-items: flex-start;
				margin-left: 20px;
				min-width: 0px;
				position: relative;
			}
				.experience__date {
					margin-bottom: 5px;
				}
				.experience__location {
					margin-bottom: 30px;

					max-width: 100%;
					text-align: justify;
					margin-bottom: 1vw;
				}
				
			/* timeline for */	
			.experience__left-side::before {
				position: absolute;
				content: "";
				display: block;
				height: 100%;
				top: 10px;
				width: 2px;
				background-color: var(--primary-color);
				left: -20px;
			}
				.experience__date::before {
					position: absolute;
					content: "";
					display: block;
					height: 12px;
					width: 12px;
					border-radius: 50%;
					background-color: var(--primary-color);
					left: -25px;
					top: 3px
				}
		}
		.experience__right-side {
			display: flex;
			flex-direction: column;
			align-content: flex-end;
			align-items: flex-start;
			margin-left: 20px;
			position: relative;
		}
			.experience__right-side:before {
				position: absolute;
				content: "";
				display: block;
				height: 100%;
				top: 10px;
				width: 2px;
				background-color: var(--primary-color);
				left: -20px;
			}
			.experience__position {
				margin-bottom: 10px;
			}
				.experience__position::before {
					position: absolute;
					content: "";
					display: block;
					height: 12px;
					width: 12px;
					border-radius: 50%;
					background-color: var(--primary-color);
					left: -25px;
					top: 3px
				}
				@media (max-width: 800px) {
					.experience__position::before {
						display: none;
					}
				}
			.experience__job-descriptions {
				margin-bottom: 1vh;
			}
			.experience__job-descriptions:last-child {
				margin-bottom: 3vh;
				 /*устанавливаю такой большой отступ у внутреннего элемента, а не у родителя, потому что шкала таймлайна расчитывается от всей высоты контентной части. Отступ внутри родительского блока - растягивает его и является его частью. В то время, как отступ у самого родителя просто разносил бы их дальше друг от друга и не изменял контентную часть*/
			}
			.skills{
				display: flex;
				margin-bottom: 45px;
				flex-wrap: wrap;
			}
				.skill{   
					background-color: transparent;
					border: none;
					color: black;
					border: 2px solid  var(--primary-color);
					transition: all .3s linear;
					margin: 3px;
					padding: 3px;
					font-size: var(--f-xsm);
				}
					.skill:hover {
						background-color: var(--primary-color);
						color: white;
						transition: all .3s linear;
					}

/* === Experience (end) === */



/* === Education === */

/* вся секция education стилизуется правилами классов experience*/

/* === Education (end) === */



/* === Gallery === */
.gallery-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
}
	.gallery__item {
		margin: 1%;
		margin-bottom: 3%;
		padding-bottom: 5%;
		width: 47%;
		border: 1px rgba(77, 77, 77, 0.1) solid;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	
	@media (max-width: 968px ) {
		.gallery__item {
			width: 95%;
		}
	}
		.gallery-item__preview{
			background: url(../assets/gallery/images/previews/previews.webp) 0% 15%   no-repeat; 
			background-size: cover;
			width: 100%;
			height: 25vh;
			box-shadow: inset 0 15px 15px  -15px #333 , inset 0 -15px 15px  -15px #333;
		}

		/* Так много выражений по тому, что сложно сделать адаптивным изображение. Используя  bg-image:cover я хочу добиться того, что бы вся картинка полностью влезала в отведённый ей контейнер. Это не лучшее решение, но это место не критично и такой подход работает. */
		@media (max-width: 520px ) {
			.gallery-item__preview{
				height: 20vh;
			}
		}
		@media (max-width: 430px ) {
			.gallery-item__preview{
				height: 18vh;
			}
		}
		@media (max-width: 390px ) {
			.gallery-item__preview{
				height: 15vh;
			}
		}
		@media (max-width: 330px ) {
			.gallery-item__preview{
				height: 12vh;
			}
		}
		@media (max-width: 300px ) {
			.gallery-item__preview{
				height: 10vh;
			}
		}
		@media (max-height: 520px ) {/*for low-height screens. For example - landscape mode on smartphones*/
			.gallery-item__preview{
				height: 35vh;
			}
		}

			.gallery-item__preview_1 {/* Модификаторы классов. Только для того, что бы аккуратно, адаптивно малой кровью вставить изображения */
				background: url(../assets/gallery/images/previews/smart-agency-site.webp)  0% 15%   no-repeat; 
				background-size: cover;
			}
			.gallery-item__preview_2 {
				background: url(../assets/gallery/images/previews/mogo-site.webp)  0% 15%   no-repeat; 
				background-size: cover;
			}
			.gallery-item__preview_3 {
				background: url(../assets/gallery/images/previews/todo-app.webp)  0% 15%   no-repeat; 
				background-size: cover;
			}
			.gallery-item__preview_4 {
				background: url(../assets/gallery/images/previews/schedule-app.webp)  0% 15%   no-repeat; 
				background-size: cover;
			}
			.gallery-item__preview_5 {
				background: url(../assets/gallery/images/previews/resume-site.webp)  0% 15%   no-repeat; 
				background-size: cover;
			}
		.gallery-item__title {
			margin-left: 5%;
			margin-right: 3%;
			text-indent: 1.5em; 
		}
		.gallery-item__description {
			margin-left: 5%;
			margin-right: 3%;
			text-indent: 1.5em; 
   			text-align: justify; 
		}
		/* Оба нижележащих класса описывают модель поведения дополнительных превью, которые в данный момент отключены. Это ещё одна реализация, которая в данный момент не активирована на сайте */
		.gallery-item__more-images {
			margin: 5px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
			.gallery-item__more-image {
				box-shadow: 0 0 10px rgba(0, 0, 0, 1); /*картинки должны умещаться в размеры минимальных экранов с запасом на элементы управления, отступы и прочее*/
			}
		.gallery-item__links {
		}
		/* Я помню, что это inline тип, но не привожу его к типу block, потому что в противном случае придётся дополнительно настраивать размеры этого блока */
		.gallery-item__link-to-repo{
			padding: 5px;
			margin-left: 5%;
			margin-right: 3%;
			
		}
/* === Gallery (end) === */